body{
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    height: auto;
    border:  2px solid grey;
    /* margin: 2%;
    /* padding-right: 2%;
    padding-left: 2%; */ 
}
 tr{
    /* border-top: 2px solid rgb(194, 194, 194); */
    border-bottom: 2px solid rgb(194, 194, 194);
    
}
th{
    padding-top: 1%;
    padding-bottom: 1%;
}
 /* .delete{
    display: flex;
    gap: 20px;
    background-color: red;
} */

.update{
    display: flex;
    gap: 20px;
}
table tr:hover{
    background-color: rgb(218, 218, 218);
}
 td{
    /* padding-top: 1%;
    padding-bottom: 1%; */
    text-align: center;
    
}
td a svg{
    width: 30px;
    height: 30px;
    margin-top: 2%;
}
td a{
    display: flex;
    margin-left: 2%;
    text-decoration: none;
    font-size: large;
}
td a p{
    margin-top: 8px;
}

#a{
    margin-left: 3%;
}
 .add{
    width: 130px;
    height:40px;
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 12%;
    margin-top: 1.4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
}
.add p{
    margin-top: 6%;
    font-weight: bold;
}
.add svg{
    width:30px ;
    height: 30px;
    margin-top: 2%;
    stroke-width: 2px;
}